<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day19_page_query</display-name>
  <servlet>
    <servlet-name>ListEmpServlet</servlet-name>
    <servlet-class>yp.itcast.web.ListEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListDeptServlet</servlet-name>
    <servlet-class>yp.itcast.web.ListDeptServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>ListEmpServlet</servlet-name>
    <url-pattern>/ListEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListDeptServlet</servlet-name>
    <url-pattern>/ListDeptServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>