<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd ">

	<!-- 创建方式1：空参构造创建 
			scope属性：
				singleton（默认值）：单例对象，被标识为单例的对象在spring容器中只会存在一个实例
						   	大多情况下使用
				prototype：多例原型，被标识为多例的对象，每次再获得才会创建（单例会在使用容器时创建），
						      每次创建都是新的
						注意：     在spring与Struts2整合的时候action的配置必须使用这个（回顾Struts2架构图每次
								访问action都会创建一个新的action，所以使用这个）
	-->
	<bean name="user" class="yp.itcast.bean.User" init-method="init" destroy-method="destory"></bean>
	
	<!-- 创建方式2：静态工厂创建 
			调用UserFactory的createUser方法创建名为user2的对象，放入容器
	
	-->
	<bean name="user2" class="yp.itcast.b_create.UserFactory" factory-method="createUser"></bean>
	

	<!-- 创建方式3：实例工厂创建 
			调用UserFactory对象的createUser2方法创建名为user3的对象，放入容器
	
	-->
	<bean 	name="user3" 
			factory-bean="userFactory"			
			factory-method="createUser2"></bean>
			
	<bean 	name="userFactory" 
			class="yp.itcast.b_create.UserFactory" ></bean>
</beans>
